<h2>プロトタイプ投稿</h2>

<%= form_with model: @prototype, local: true do |f| %>

  <div>
    <%= f.label :title, "プロトタイプ名" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :catch_copy, "キャッチコピー" %><br>
    <%= f.text_field :catch_copy %>
  </div>

  <div>
    <%= f.label :concept, "コンセプト" %><br>
    <%= f.text_area :concept %>
  </div>

  <div>
    <%= f.label :image, "画像" %><br>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.submit "保存する" %>
  </div>

<% end %>
